<% layout('layout') -%>

<div class="container main login" style="width: 100%; height:auto">

    <div class="humana-h3"><span><%=  req.__('text.consent.authorization_required') %></span></div>
    <!-- Consent Page Template -->
    <!-- 
        <div class="clearfix">
          <div class="application-logo-circle">
              <img class="img-responsive close-img" src="<%= app_logo_url%>"  style="width: 100%;">
              <p class="caption"><%= appName%></p>
          </div>
          <div class="switch-arrow">
              <img class="img-responsive close-img" src="<%= req.query.basepath%>/ui/images/Switch.png">
          </div>
          <div class="mobile-circle">
              <img class="img-responsive <%= scope_class %>" src="<%= scope_icon %>">                        
              <p class="caption"><%= user_attribute%><p>
          </div>
        </div> 
      -->
      
        <h3 class="singin-text"></h3>
        <p class="singin-text">When you share your information with third-party apps, you have the option to share both Humana and Author by Humana information. If you only select Author by Humana, then you are only sharing your Author information for the 2021 plan year and beyond. If you have not already shared your Humana information, you should follow the same process again, but this time select Humana. This way, the app will also have any of your health data that Humana has gathered in previous plan years.
        
        <p class="singin-text"><%=  req.__('text.consent.the_application') %> <b><%= appName%></b> <%=  req.__('text.consent.require_access') %>
        
        <ul class="singin-text">
            <li>Personal details like your name, address, phone number, and date of birth</li>
            <li>Information about your Humana insurance plan(s) with Author by Humana services, such as coverage type and member ID</li>
            <li>Written explanation of benefits, including the payments Humana has made on your behalf and the amount you paid or owe for various healthcare services as a member with Author by Humana services</li>
            <li>History of your previous medical procedures</li>
            <li>Description of your medical conditions as recorded by a clinician</li>
            <li>List of your medications</li>
            <li>History of your vaccinations or immunizations</li>
            <li>Details of your care plans</li>
            <li>List of providers and organizations involved in your care delivery</li>
        </ul>
        
        <p class="singin-text">You have the right to share your health information with this application or website, but there may be risks. Once this entity has accessed your data, it may no longer be protected by federal and state privacy laws such as HIPAA, and neither Humana nor Author by Humana operations is responsible for the privacy and security of your data. Before you share your data, be sure to review this application or website’s Privacy Policy and Terms and Conditions to fully understand how they will handle your data, as well as Humana’s (TBD) Privacy Policy and Terms and Conditions 
        

    <div class="input-group-container patient-container" id="tblScopes" align="left">
        <% var scopes= profile_scopes.split(" ") %>
        <%
            var readables = []
            scopes.forEach(function (scope) {
                var regex = /(patient|user)\/([A-z]{0,40}|\*).(read|write|\*)/g
                if (regex.test(scope)) {
                    var user = scope.substring(0, scope.indexOf("/"));
                    var resource = scope.substring(scope.indexOf("/") + 1, scope.indexOf("."));
                    var operation = scope.substring(scope.indexOf(".") + 1, scope.length);
                    console.log(user, resource, operation)
                    if (user && resource && operation) {
                        var readable = "";
                        if (operation === "read") {
                            readable += "Read "
                        } else {
                            readable += "Add or Modify "
                        }
                        if (user === "patient") {
                            readable += "your "
                        } else {
                            readable += "patient's "
                        }
                        if (resource === "Patient") {
                            readable += "Demographics"
                        } else if (resource === "*"){
                             readable += "resource(s)"
                        } else {
                            readable += resource.replace(/[\w]([A-Z])/g, function (m) {
                                return m[0] + " " + m[1];
                            }) + "(s)"
                        }
                        readables.push(readable);
                    } else {
                        readables.push(scope);
                    }
                }else{
                    readables.push(scope);
                }
            
            })
						 
		    %>

        <%readables.forEach(function(readable){ %>
        <% if(readable){ %>
        <li class="list-group-item list-consent-data"> <%= readable %></li>
        <% }}) %>
    </div>
    <!-- <div class="rular"></div> -->
    <div id="pinned" align="center" style="border: 1;">
        <form action="<%= basepath%>/redirect/<%= sessionid%>" role="form">
            <button type="submit" class="btn md-custom-primary"><%=  req.__('text.consent.agree') %></button>
            
            <button type="button" class="btn md-custom-secondary-outline"
                onclick="window.location='<%= redirectURL%>'"><%=  req.__('text.consent.no_thanks') %></button>
            
        </form>
    </div>

</div>